Repository EPFL-ENAC/co2-calculator: changes, and which lefthook commands are due for each by the changed paths.
All: js-ts-format-lint, css-scss-format-lint, python-format, format-config-files

Path conditions:
  js-ts-format-lint: any of: *.{js,ts,jsx,tsx}
  css-scss-format-lint: any of: *.{css,scss}
  python-format: any of: *.py
  format-config-files: any of: *.{json,yml,yaml,md}

docs: update pull request validation requirements and clarify pre-production environment details
  CONTRIBUTING.md
Due: format-config-files

docs: enhance CI/CD section with detailed pipeline and merge requirements
  CONTRIBUTING.md
  Makefile
Due: format-config-files

chore(issues): add new template
  .github/ISSUE_TEMPLATE/feature.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  CONTRIBUTING.md
Due: format-config-files

chore(github): rename docs workflow
  .github/workflows/deploy-mkdocs.yml
Due: format-config-files

chore(docs): fetch-depth: 0 to avoid error
  .github/workflows/deploy-mkdocs.yml
  Makefile
Due: format-config-files

chore(docs): remove plugins search and change attribute to comply with docs deploy
  mkdocs.yml
Due: format-config-files

chore(docs): update architecture docs, rename Makefile serve target and regenerate requirements.txt
  Makefile
  docs/architecture/05-environments.md
  docs/architecture/06-cicd-pipeline.md
  docs/architecture/07-global-conventions.md
  docs/architecture/08-tech-stack.md
  docs/architecture/09-component-breakdown.md
  docs/architecture/11-deployment-topology.md
  docs/infra/index.md
  requirements.txt
Due: format-config-files

Deployed e3bf943 with MkDocs version: 1.6.1
  architecture/05-environments.html
  architecture/06-cicd-pipeline.html
  architecture/07-global-conventions.html
  architecture/08-tech-stack.html
  architecture/09-component-breakdown.html
  architecture/11-deployment-topology.html
  infra/index.html
Due: none

chore(github): add new task and feature
  .github/ISSUE_TEMPLATE/feature.yaml
  .github/ISSUE_TEMPLATE/task.md
Due: format-config-files

Deployed 13b7a48 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

chore(github): add new tasks template issue
  .github/ISSUE_TEMPLATE/task.md
Due: format-config-files

chore(github): remove emoji from template issue
  .github/ISSUE_TEMPLATE/task.md
Due: format-config-files

chore(github): add emoji from template issue
  .github/ISSUE_TEMPLATE/task.md
Due: format-config-files

chore(frontend): add Dockerfile and nginx.conf to build and serve SPA
  frontend/Dockerfile
  frontend/nginx.conf
Due: none

chore: setup Makefiles in frontend and backend
  Makefile
  backend/Makefile
  docker-compose.yml
  frontend/Makefile
  frontend/package.json
Due: format-config-files

docs: add CI-CD docs
  CI-TODO.md
  docs/architecture/full-tech-stach.md
  docs/cicd-workflows.md
Due: format-config-files

chore(type-check): add type-check global in pre-push
  backend/app/api/deps.py
  backend/app/api/v1/users.py
  backend/app/core/security.py
  backend/app/models/user.py
  backend/app/services/resource_service.py
  backend/app/services/user_service.py
Due: python-format

chore(ci): add wip workflows
  .github/workflows/accessibility.yml
  .github/workflows/build.yml
  .github/workflows/docker.yml
  .github/workflows/lighthouse.yml
  .github/workflows/quality-check.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
  .lighthouserc.json
  lefthook.yml
Due: format-config-files

chore(helm): first draft of helm chart
  helm/Chart.yaml
  helm/POSTGRESQL_SIDECAR.md
  helm/README.md
  helm/templates/NOTES.txt
  helm/templates/_helpers.tpl
  helm/templates/backend-deployment.yaml
  helm/templates/backend-hpa.yaml
  helm/templates/backend-secret.yaml
  helm/templates/backend-service.yaml
  helm/templates/frontend-deployment.yaml
  helm/templates/frontend-hpa.yaml
  helm/templates/frontend-service.yaml
  helm/templates/ingress.yaml
  helm/templates/pgbouncer-configmap.yaml
  helm/templates/pgbouncer-deployment.yaml
  helm/templates/pgbouncer-service.yaml
  helm/templates/serviceaccount.yaml
  helm/values.yaml
Due: format-config-files

chore(ci): add default ci-test/** convention for ci-testing
  .github/workflows/accessibility.yml
  .github/workflows/build.yml
  .github/workflows/deploy-mkdocs.yml
  .github/workflows/deploy.yml
  .github/workflows/docker.yml
  .github/workflows/lighthouse.yml
  .github/workflows/quality-check.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
Due: format-config-files

fix(backend): add Dockerfile ready for alembic migration
  backend/.env.example
  backend/Dockerfile
  backend/README.md
  backend/alembic.ini
  backend/alembic/README
  backend/alembic/env.py
  backend/alembic/script.py.mako
  backend/alembic/versions/.gitkeep
  backend/alembic/versions/2025_10_31_1420-86752ebb8a77_initial_schema.py
  backend/app/core/config.py
  backend/app/db.py
  backend/app/main.py
  backend/pyproject.toml
  backend/uv.lock
Due: python-format, format-config-files

chore(docker-compose): fix docker compose for local
  Makefile
  docker-compose.yml
Due: format-config-files

chore(frontend): add test e2e and units
  frontend/.gitignore
  frontend/Makefile
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright-ct.config.ts
  frontend/playwright.config.js
  frontend/playwright/index.html
  frontend/playwright/index.ts
  frontend/quasar.config.js
  frontend/tests/integration/home.spec.ts
  frontend/tests/unit/app.spec.ts
Due: js-ts-format-lint, format-config-files

chore(makefile): make run, starts db
  Makefile
Due: none

chore(backend): fix python type for config
  backend/app/core/config.py
Due: python-format

Deployed a724143 with MkDocs version: 1.6.1
  Makefile
  architecture/full-tech-stach.html
  cicd-workflows.html
  sitemap.xml.gz
Due: none

chore: ci security
  .github/workflows/security.yml
  README.md
  helm/POSTGRESQL_SIDECAR.md
  helm/templates/backend-deployment.yaml
Due: format-config-files
